.footer{
    display: flex;
    height: 15vh;
    background-color: cadetblue;
    width: 100%;
    justify-content:center;
    align-items: center;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: medium;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: .1em;
}