.nav{
  width: 100%;
  height: 12vh;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h1{
  margin-left: 70px;
  cursor: pointer;
}
.nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-right: 70px;
}
.nav ul li{
  cursor: pointer;
}

.hero{
  width: 100%;
  display: flex;
  height: 73vh;
  background-color: black;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 73vh;
  font-size: 13vh;
  background-color: rgb(50, 46, 46);
}


.contactus{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 73vh;
  font-size: 13vh;
  background-color: rgb(50, 46, 46);
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 73vh;
  font-size: 13vh;
  background-color: rgb(50, 46, 46);
}
.footer{
  width: 100%;
  height: 15vh;
  background-color: rgb(24, 23, 23);
}

.footer ul{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 30px;
}
.footer ul li{
  cursor: pointer;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
a.active{
  color: red;
}