.nav{
  display: flex;
  background-color: rgb(59, 237, 178);
  align-items: center;
  justify-content: space-between;
  height: 11vh;
  width: 100%;
}
.nav h1{
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  cursor: pointer;
}
.nav ul{
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 30px;
  list-style: none;
  font-size: medium;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: .1em;
}
.nav ul li{
  cursor: pointer;
}
