.card{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card img{
    width: 100%;
}

.card h1{
    color: white;
}
.card h3{
    color: white;
}
